/* font-family: ‘Chau Philomene One’, sans-serif; */

body{
  background-color: lightgray;
  text-align: center;
  margin: 0;
}

#gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}