@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

body{
  background-color: lightgray;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}

#gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}