
header{
  height: auto;
  text-align: center;
  width: 100%;
  background-color: rgb(140, 213, 67);
  margin-top: 0px;
  position: absolute;
  top: 0;
}
h2 {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

footer {
  background-color: rgb(140, 213, 67);
  height: 75px;
  margin-top: 100px; 
}
#image-cont {
  height: 300px;
  width: 300px;
  border: black 3px solid;
  margin: 0 15px 30px 15px;
  background: url(../images/no-image.png) center no-repeat;
  background-size: 50%;
  background-color:black;
}
#close-up #image-cont{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  background-color:  rgb(104, 171, 37);
}
#pdiv {
  height: 0;
}
#close-up #pdiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  
}

#h2div {
  width: 300px;
  height: 60px;
  border: 3px solid black;
  margin: 0 15px 0 15px;
  border-bottom: none;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(228, 225, 225);

}


h1{
  font-family: 'Aclonica', sans-serif;
  font-size: 4em;
  text-align: center;
  padding: 20px;
}
h3 {
  margin-top: 175px;
  cursor: pointer;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}
h3:hover {
  color: rgb(92, 92, 238);
}

.change{
  margin-bottom: 30px;
}

#page-two {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid black;
  cursor: pointer;
  margin: auto;
  margin-top: 175px;
  margin-bottom: 25px;
}
#page-two:hover {
  border-left: 30px solid rgb(92, 92, 238);
}
#h2div:hover {
  background-color: rgb(164, 164, 164);
}
.box:hover{
  cursor: pointer;
}

button:first-of-type {
  margin: 0 30px 0 30px;
}

#container {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

#close-up {
  position: fixed;
  width: 90%;
  height: 70%;
  top: 10%;
  box-shadow: 0px 0px 50px 100px rgba(0, 0, 0, 0.5);
  cursor: auto;
}

#close-up #image-cont {
  width: 100%;
  height: 100%;
  margin: auto;
}

#close-up #h2div {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: white;
}
#close-up #h2div:hover {
  background-color: white;
}

#close-up img {
  width: 46%;
  height: 96%;
  padding: 1.5%;
  object-fit: contain;
  background: url(../images/no-image.png) center no-repeat;
  background-size: 35%;
  background-color: black;
}

#close-up h2 {
  font-size: 2em;
  padding: 5px;
}
#close-up #pdiv {
  padding: 0 5% 0 5%;
}
i {
  color: red;
  cursor: pointer;
  float: left;
}
i:hover {
  color: rgb(247, 78, 78);
}
select {
  text-transform: capitalize;
}
@media only screen and (max-width: 755px) {
  #page-two {
    margin-top: 245px;
  }
  h3 {
    margin-top: 240px;
  }
  #close-up {
    height: 60%;
    top: 17%;
  }
  p {
    font-size: 20px;
  }

}
@media only screen and (max-width: 460px) {
  body, html {
    /* min-width: 375px; */
    max-width: 100%;
  }
  header{
    min-width: 375px;
  }
  button {
    float: left;
    margin: 0px auto;
    width: 33.3%;
    height: 60px;
    
  }
  button:first-of-type {
    float: left;  
    margin: 0 auto;
    width: 33.3%;
  }
  .change {
    margin-bottom: 0px;
    float: left;
    width: 33.3%;
    height: 60px;
    text-align: center;
  }
  h1 {
    font-size: 2.5em;
  }
  h3 {
    margin-top: 190px;
  }
  #page-two {
    margin-top: 190px;
  }
  #close-up #image-cont{
    flex-direction: column;
  }
  #close-up {
    height: 80%;
    top: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #close-up img {
    width: 96%;
    height: 46%;
  }
}
