
header{
  /* border-bottom: 5px solid rgb(68, 26, 26); */
  height: 150px;
  text-align: center;
  width: 100%;
  background-color: rgb(104, 171, 37);
  margin-top: 0px;
  position: absolute;
  top: 0;
}
footer {
  background-color: rgb(104, 171, 37);
  height: 75px;
  margin-top: 75px; 
}
#image-cont {
  height: 300px;
  width: 300px;
  background-color:  rgb(104, 171, 37);
  border: black 3px solid;
  margin: 0 15px 30px 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#pdiv {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

img{
  height: 300px;
  width: 300px;
  object-fit: contain;
}

#h2div {
  width: 300px;
  height: 50px;
  border: 3px solid black;
  margin: 0 15px 0 15px;
  border-bottom: none;
  align-items: center;
  justify-content: center;
  display: flex;

}


h1{
  font-family:‘Chau Philomene One’, sans-serif;
  text-align: center;
  padding-top: 20px;
}
h3 {
  margin-top: 175px;
  cursor: pointer;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  
}

.change{
  margin-bottom: 30px;
}

#page-two {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid black;
  cursor: pointer;
  margin: auto;
  margin-top: 175px;
  margin-bottom: 25px;
}
#page-two:hover {
  border-left: 30px solid rgb(131, 125, 125);
}
#h2div:hover {
  background-color: rgb(164, 164, 164);
}
.box:hover{
  cursor: pointer;
}

button:first-of-type {
  margin: 0 30px 0 30px;
}

#container {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

#close-up {
  position: fixed;
  width: 90%;
  height: 70%;
  top: 10%;
  box-shadow: 0px 0px 50px 100px rgba(0, 0, 0, 0.5);
  cursor: auto;
}

#close-up #image-cont {
  width: 100%;
  height: 100%;
  margin: auto;
}

#close-up #h2div {
  width: 100%;
  margin: auto;
  background-color: white;
}

#close-up img {
  width: 50%;
  padding: 2%;
}

#close-up h2 {
  font-size: 2.5em;
}
#close-up #pdiv {
  padding: 5%;
}
i {
  color: red;
}
